*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

a:visited{text-decoration: none; color: azure;}

a:link{color: azure;}


.header{
    
    height: 15%;
    min-height: 100px;
    font-family: monospace;
    font-size: 149%;
    text-transform: uppercase;
    background-color: rgba(43, 42, 56, 0.916);
    
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
   
    /* min-height: 100px; */
    
}

.x, .menu-obj{
    flex-grow: 1;
    max-width: 275px;
    max-height: 80px;
    overflow: hidden;
    text-align: center;
    vertical-align:middle;
}
.menu-obj a:hover{
    color: azure;
    background: rgb(43, 42, 56);
    transition: 0.5s;
    
}

a.active-a{
    color: gold;
    background: rgb(43, 42, 56);
}


.menu-obj a{
    
    padding: 1px;
    border-radius: 1px;
}


.x{
    
    color: azure;
    text-align: center;
    font-size: 175%;
}



.wrapper{
    display: flex;
   
    font-family: monospace;
    font-size: 100%;
    color: azure;
}



/* .nav1{
    resize: inherit;
    overflow-y: hidden;
    
}

nav ul{
    
    float: right;
    
    
}

nav ul li{
    display: inline-block;
    width: 210px;
    margin-top: 46px;
    
}

nav ul.menu li a{
    color: azure;
    font-size: 100%;
    padding: 2%;
    border-radius: 10px;
}

ul.menu a:hover{
    background: rgb(43, 42, 56);
    transition: 0.5s;
} */

.aside{
    /* grid-area: aside; */
    /*display: block;*/
    background-color: rgb(91, 14, 28);
    border-right: 15px solid rgb(34, 31, 62);

}

.aside-text{
    /* display: inline-block; */
    color: azure;
    text-align: right;
    overflow: hidden;
    line-height: 30px;
    min-width: 100px;
    max-width: 350px;
}

.lyrics{
    color: lightgray;
    font-style: italic;    
}

.flex-2{
    display: flex;
    flex-direction: column;
    
}

.flex-3{
    display: flex;
    flex-direction: row;
    
    height: fit-content;
    flex-grow: 1;
    align-items:stretch;
}

.flex-4{
    display: flex;
    flex-direction: column;
    order: 2;
    flex-wrap: nowrap;
    /* min-width: 350px; */
    /* height: fit-content; */
    flex-grow: 1;
    
    max-width: 350px;
}


.content-3{
    order: 1;
    
    background-color: rgba(236, 171, 18, 0.968);
    
    flex-grow: 1;
}

.album{
    
    border: 12px solid rgba(7, 35, 119, 0.782);
    height: 100%;
    width: 100%; 
    
    
}
.href-album{
    display: block;
    
    margin: 15%;
    
    /* margin: 2.5% 0; */
}

.queen-image{
    max-width: 100%;
    max-height: 100%;
}


.content-4{
    flex-grow: 1;
    background-color: rgba(56, 54, 77, 0.908);
    
    color:red;
}

.content-5{
    
    flex-grow: 1;
    
    background-color: rgba(43, 42, 56, 0.916);
    color: azure;
    
    font-style: italic;
    text-align: center;
    
}

.ol-songs li{
    list-style-position: inside;
    /* margin-left: 32px; */
    line-height: 20px;
}

.content-6{
    grid-area: content-6;
    background-color: rgba(91, 14, 28, 0.941);
    border-top: 15px solid rgb(34, 31, 62);
    
    display: flex;
    
    flex-wrap: nowrap;
    flex-grow: 0;
    
    /* grid-template-rows: 1fr;
    grid-template-columns: 0.25fr 1fr; */
}


.y{
    /* display: inline-block; */
    /* grid-row: 1/2; */
    /* grid-column: 1; */
    /* padding: 100px 0% 100px 1%; */
    order: 1;
    min-width: 25%;
    align-self: center;
    text-transform: uppercase;
    font-size: 30px;
}

.text-6{
    /* grid-row: 1/2; */
    /* grid-column: 2; */
    order: 2;
    min-width: 75%;
    text-align: justify;
    padding: 5% 1% 5% 0%;
    line-height: 22px;
}

